<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Details</title>
    <link rel="stylesheet" href="styles/main1.css">
</head>
<body>
    <div class="container">
        <div class="first">
            <div class="temp box">
                Temp: <%=temp%> kelvin
            </div>
            <div class="name box">
                Name: <%=name%>
            </div>
            <div class="weather box">
                Weather: <%=weather%>
            </div>
        </div>
        <div class="second">
            <div class="humidity box">
                Humidity: <%=humidity%> %
            </div>
            <div class="windspeed box">
                Wind Speed: <%=windspeed%> m/s
            </div>
            <div class="visibility box">
                Visibility: <%=visibility%> m
            </div>
        </div>
    </div>
</body>
</html>